<div class="widget intro">
<h3 class="asidetitle">简介</h3>
<ul class="entry">
<li>现状：大连理工大学/本科生</li>
<li>QQ 号：1285310383</li>
<li>Email: ldz2012yn@gmail.com</li>
<li>github :  <a href="https://github.com/donahue-ldz">donahue-ldz</a></li>
<li>原博客：<a href="http://www.donahuelives.com">程序人生</a></li>
</ul>
</div>
